.table-striped > tbody > tr:nth-child(odd) > td{
  background-color: #01DC8A;
  font-family:'Times New Roman';
     font-size:20px;
     text-shadow:none;
     font-weight: 700;
}
.table-striped > tbody > tr:nth-child(even) > td
 {
  background-color: #01B473;
  font-family:'Times New Roman';
     font-size:20px;
     text-shadow:none;
     font-weight: 700;
}
.table-striped > tbody > tr:nth-child(odd) > th,
.table-striped > tbody > tr:nth-child(even) > th{
     background-color: lightgray;
     font-family:'Times New Roman';
     font-size:22px;
     color: black;
     font-weight: 700;
     text-shadow:none;
     border-width:0px;
     
}